{
  "presets": [
    "es2015",
    "stage-0",
    "react",
    "flow"
  ],
  "retainLines": true,
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        ["transform-imports", {
          "lodash": {
            "transform": "lodash/${member}",
            "preventFullImport": true
          },
          "redux-form": {
            "transform": "redux-form/es/${member}",
            "preventFullImport": true
          },
          "antd": {
            "transform": "antd/lib/${member}",
            "preventFullImport": true,
            "kebabCase": true
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["transform-imports", {
          "lodash": {
            "transform": "lodash/${member}",
            "preventFullImport": true
          },
          "redux-form": {
            "transform": "redux-form/es/${member}",
            "preventFullImport": true
          },
          "antd": {
            "transform": "antd/lib/${member}",
            "preventFullImport": true,
            "kebabCase": true
          }
        }]
      ]
    }
  }
}