.statistics {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.statisticsItem {
  display: inline-block;
  margin: 0 2rem;
  div {
    &:nth-child(1) {
      font-size: 4rem;
    }
    &:nth-child(2) {
      font-size: 1rem;
    }
  }
}