.autocompleteRow {
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.toggleIcon {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 0.5rem;
  top: 0;
  height: 100%;
}